form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
#submit1 {
    width: 30%;
    margin: auto;
    color: rgb(0, 255, 170);
}
#submit1:hover {
    color: brown;
    background-color: fuchsia;
    border-style: none;
}
#nome {
    border-radius: 5px;
    margin-bottom: 10px;
}
#email {
    border-radius: 5px;
    margin-bottom: 10px;
}
#nome:focus {
    border-style: none;
    outline: 0;
}